<!--
Author: 
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Teachers</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Primary School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />	
<script src="/js/jquery.min.js"> </script>
<!--webfonts-->
 <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<!--start-home-->
		<!----- start-header---->
			<div id="home" class="header two">
					<div class="top-header two">	
						<div class="container">
						<div class="logo">
							<a href="/home"><h1>E-<span>School</span></h1></a>
						</div>
					<!----start-top-nav---->
						<div class="top-menu">
							<span class="menu"> </span>
								<ul class="cl-effect-16">
								 <li><a href="/home" data-hover="Home">Home</a></li>
								<li><a  href="/about" data-hover="About">About</a></li>
								<li><a class="active" href="/teachers" data-hover="Teachers">Teachers</a></li>
								<li><a href="/contact" data-hover="Contact">Contact</a></li>
								<li><a href="/login" data-hover="LogIn">Log In</a></li>
								  <div class="clearfix"></div>
								</ul>
							</div>
							<!-- script-for-menu -->
								<script>
									$("span.menu").click(function(){
										$(".top-menu ul").slideToggle("slow" , function(){
										});
									});
								</script>
								<!-- script-for-menu -->
							<div class="clearfix"> </div>
					</div>
				</div>
			    <div class="clearfix"> </div>
		</div>
		<!----- //End-slider---->
<!---start-history--->

<!-- //activities -->
		<div class="member-section">
			<div class="container">
				<div class="member-head">
						<h3>Our Teachers</h3>
					   <p>2015 Board Members</p>
					   </div>
			      <div class="members">
					   <div class="col-md-4 member-grids">
                              <a href="#"> <img src="images/m2.jpg" class="img-responsive" alt="" /></a>
								<h5>President</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
							<div class="col-md-4 member-grids">
								<a href="#"> <img src="images/m3.jpg" class="img-responsive" alt="" /></a>
								<h5>Vice President</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

							</div>
							<div class="col-md-4 member-grids">
								<a href="#"> <img src="images/m1.jpg" class="img-responsive" alt="" /></a>
								<h5>Chief of Staff</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
				  </div>
			</div>
		</div>
<!--/mid-bg-->
	<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>